loki:
  enabled: true
  config:
    limits_config:
      enforce_metric_name: false
      reject_old_samples: true
      reject_old_samples_max_age: 168h

  persistence:
    enabled: true
    accessModes:
      - ReadWriteOnce
    size: 10Gi

  serviceMonitor:
    enabled: true
    interval: ""
    annotations: {}
    scrapeTimeout: 10s

  nodeSelector:
    eks.amazonaws.com/capacityType: ON_DEMAND

promtail:
  enabled: true
  serviceMonitor:
    enabled: true
    interval: ""
    annotations: {}
    # scrapeTimeout: 10s
  tolerations:
    - effect: NoSchedule
      operator: Exists

fluent-bit:
  enabled: false

grafana:
  enabled: false
