##########
# Common
##########
name        = "example"
domain_name = "example.org"
environment = "demo"

##########
# Network
##########
region   = "us-east-1"
az_count = 3
allowed_ips = [
  "0.0.0.0/0"
]
single_nat_gateway = true

##########
# EKS
##########
eks_cluster_version = "1.19"

eks_worker_groups = {
  spot = {
    override_instance_types = ["t3.medium", "t3a.medium"]
    spot_instance_pools     = 2
    asg_max_size            = 5
    asg_min_size            = 0
    asg_desired_capacity    = 1
  },
  ondemand = {
    instance_type        = "t3a.medium"
    asg_desired_capacity = 1
    asg_max_size         = 6
  },
  ci = {
    override_instance_types = ["t3.medium", "t3a.medium"]
    spot_instance_pools     = 2
    asg_max_size            = 3
    asg_min_size            = 0
    asg_desired_capacity    = 0
  }
}

eks_write_kubeconfig = false
