##########
# Common
##########
name        = "example"
domain_name = "example.org"
environment = "demo"

##########
# Network
##########
region   = "us-east-1"
az_count = 3
allowed_ips = [
  "0.0.0.0/0"
]
single_nat_gateway = true

##########
# EKS
##########
eks_cluster_encryption_config_enable = true
